language: python
sudo: false
matrix:
  include:
    - python: 3.7
      env: TOXENV=py3flake8
      dist: xenial
      sudo: true
    - python: 2.7
      env: TOXENV=py2flake8
      dist: trusty
      sudo: false
    - python: 3.6
      env: TOXENV=doc
      dist: trusty
      sudo: false
    - python: pypy3
      env: TOXENV=pypy3
      dist: trusty
      sudo: false
    - python: pypy
      env: TOXENV=pypy
      dist: trusty
      sudo: false
    - python: 3.4
      env: TOXENV=py34
      dist: trusty
      sudo: false
    - python: 3.5
      env: TOXENV=py35
      dist: trusty
      sudo: false
    - python: 3.6
      env: TOXENV=py36
      dist: trusty
      sudo: false
    - python: 3.7
      env: TOXENV=py37
      dist: xenial
      sudo: true
    - python: 3.8
      env: TOXENV=py38
      dist: xenial
      sudo: true
    - python: 2.6
      env: TOXENV=py26
      dist: trusty
      sudo: false
    - python: 2.7
      env: TOXENV=py27
      dist: trusty
      sudo: false

install:
  - travis_retry pip install tox

script:
  - tox

deploy:
  provider: pypi
  distributions: "sdist bdist_wheel"
  on:
    branch: master
    tags: true
  server: https://test.pypi.org/legacy/
  user: twiggy-uploader
  password:
    secure: V+SEJ++XHtLQGTpuoIm1jIKzCAnSQIuEt8G26YsCkWiZPifUIkfGT4UutGUh+dU0qZu2GOZPY4kpO0UdZvZrPaj1545krBJX3TMgnL0Z6l8Pj0fzQB6Z8/NDZKpNsaZAOcyXP02rXoodeFJrxT4DBUjqZgd6UutxQdlMzsNiurCcTnQTWUrvBm9WTbSIwHO41Go8Ay3E33s2Q6BvyB8DDEzh4YzqWHJU0Vo5tKS/i5zGXNBSCMopeP8VoYisfmYg6mCqBwa03siokKeBk3Zwp1TQcG19Egz8wzLoUNY56HTD/CCTo+7wt/ryOC8bjrxVVAV5WzETf6J4XXEuOYaoOlazccHA/nGKL2pDrFDXdR+J3+mclUESk8Feh01XpYBPfRNkJgVyCQm/c1C43VlFd6aZEiZFNjWb4iwnYEd951gf4NmLoQWM9H11sQPLHDCvEYCJdDdtgVU4Hy6JQrkXZYfPXWHq8D8JlPU42oWp4MIVlr4zFXDIoKYjpSAGJO20NmuSmE3lFdYpNcJWUo2cTFKb2M+KLkd49aCWrCrjAnM5WYyucjzv0VoHBBF+i2zGx9mPfzgWSFxqtJQAW2lv4KkIc0sENSDZvR5vMVvOnhiUuaKgQdotzEfnNXh0ojHS8qCxB1Ux6KKwYR54nX0vX/XdI03msdJKy1QB4nkrvdc=
